// Tamaños específicos
.size_20 {
	width: 20px !important;
	min-width: 20px !important;	
}

.size_35 {
	width: 35px !important;
	min-width: 35px !important;	
}

.size_40 {
	width: 40px !important;
	min-width: 40px !important;	
}

.size_42 {
	width: 42px !important;
	min-width: 42px !important;	
}

.size_45 {
	width: 45px !important;
	min-width: 45px !important;	
}

.size_50 {
	width: 50px !important;
	min-width: 50px !important;	
}

.size_56 {
	width: 56px !important;
	min-width: 56px !important;	
}

.size_60 {
	width: 60px !important;
	min-width: 60px !important;	
}

.size_66 {
	width: 66px !important;
	min-width: 66px !important;	
}

.size_70 {
	width: 70px !important;
	min-width: 70px !important;	
}

.size_72 {
	width: 72px !important;
	min-width: 72px !important;	
}

.size_74 {
	width: 74px !important;
	min-width: 74px !important;	
}

.size_75 {
	width: 75px !important;
	min-width: 75px !important;	
}

.size_77 {
	width: 77px !important;
	min-width: 77px !important;	
}

.size_80 {
	width: 80px !important;
	min-width: 80px !important;	
}

.size_85 {
	width: 85px !important;
	min-width: 85px !important;	
}

.size_90 {
	width: 90px !important;
	min-width: 90px !important;	
}

.size_93 {
	width: 93px !important;
	min-width: 93px !important;	
}

.size_95 {
	width: 95px !important;
	min-width: 95px !important;	
}

.size_100 {
	width: 100px !important;
	min-width: 100px !important;	
}

.size_105 {
	width: 105px !important;
	min-width: 105px !important;	
}

.size_109 {
	width: 109px !important;
	min-width: 109px !important;	
}

.size_113 {
	width: 113px !important;
	min-width: 113px !important;	
}

.size_114 {
	width: 114px !important;
	min-width: 114px !important;	
}

.size_115 {
	width: 115px !important;
	min-width: 115px !important;	
}

.size_116 {
	width: 116px !important;
	min-width: 116px !important;	
}

.size_118 {
	width: 118px !important;
	min-width: 118px !important;	
}

.size_120 {
	width: 120px !important;
	min-width: 120px !important;	
}

.size_131 {
	width: 131px !important;
	min-width: 131px !important;	
}

.size_132 {
	width: 132px !important;
	min-width: 132px !important;	
}

.size_133 {
	width: 133px !important;
	min-width: 133px !important;	
}

.size_135 {
	width: 135px !important;
	min-width: 135px !important;	
}

.size_140 {
	width: 140px !important;
	min-width: 140px !important;	
}

.size_146 {
	width: 146px !important;
	min-width: 146px !important;	
}

.size_150 {
	width: 150px !important;
	min-width: 150px !important;	
}

.size_153 {
	width: 153px !important;
	min-width: 153px !important;	
}

.size_160 {
	width: 160px !important;
	min-width: 160px !important;	
}

.size_166 {
	width: 166px !important;
	min-width: 166px !important;	
}

.size_170 {
	width: 170px !important;
	min-width: 170px !important;	
}

.size_179 {
	width: 179px !important;
	min-width: 179px !important;	
}

.size_180 {
	width: 180px !important;
	min-width: 180px !important;	
}

.size_183 {
	width: 183px !important;
	min-width: 183px !important;	
}

.size_185 {
	width: 185px !important;
	min-width: 185px !important;	
}

.size_188 {
	width: 188px !important;
	min-width: 188px !important;	
}

.size_200 {
	width: 200px !important;
	min-width: 200px !important;
}

.size_207 {
	width: 207px !important;
	min-width: 207px !important;
}

.size_210 {
	width: 210px !important;
	min-width: 210px !important;
}

.size_212 {
	width: 212px !important;
	min-width: 212px !important;
}

.size_214 {
	width: 214px !important;
	min-width: 214px !important;
}

.size_241 {
	width: 241px !important;
	min-width: 241px !important;
}

.size_274 {
	width: 274px !important;
	min-width: 274px !important;
}

.size_300 {
	width: 300px !important;
	min-width: 300px !important;
}

.size_350 {
	width: 350px !important;
	min-width: 350px !important;
}

.size_auto {
	width: auto !important;
	min-width: auto !important;
}

// Porcentajes
.size_100p {
	width: 100% !important;
}
