// VARIABLES

// Fuente
$primary-font-stack: 'Roboto', sans-serif;
$primary-text-color: #2C2C2C;

// Corporativos
$corporative-color-1: #B5121B; //Rojo
$corporative-color-2: #F37321; //Naranja
$corporative-color-2-light: #F7A46F; //Naranja claro
$corporative-color-3: #620000; //Vino

$corporative-color-support-1: #996600; //Amarillo obscuro
$corporative-color-support-2: #E6884B; //Naranja claro

// Fondos
$lighter-color: #FFFFFF;
$bg-general: #F1F1F1;
$bg-filter: #DADADA;

$bg-informativo: #EEEEEE;
$bg-form-sub: #FAFAFA;
$bg-form: #F7F7F7;

$bg-submenu: #888888;
$nombre-tabla-color: #777777;
$bg-footer: #666666;
$bg-dark: #000000;

// Disabled - Input
$font-color-disabled: #777777;
$bg-disabled: #F0DFC4;
$border-disabled: #A9A9A9;

// Disabled - Button
$font-color-disabled-button: #DDDDDD;
$bg-disabled-button: #A69999;

// Buttons Gradient
$gradient-button-hover: #9A420B;
$gradient-button-clair-hover: #F37321;
$gradient-button-clair-disabled: #7C7373;

// Bordes
$border-color-light: #E5E5E5;
$border-hover-button: #FCD3C1;

// Grises
$gray-complement-1: #AAAAAA;
$gray-complement-2: #CCCCCC;
$gray-complement-3: #555555;
$gray-complement-4: #444444;

// Tabla
$bg-table: #EEEEEE	;
$bg-table-odd: #EFEFEF;
$bg-table-hover: #F9E0D0;
$bg-table-selected: #F0DFC4	;

// Resolución
$min-resolution-w: 1263px;
$min-resolution-h: 625px;

// Sombra
$shadow-color: #5D6669;

// Detalles
$red: #B5121B;
$green: #38A11A;