<div class="contenido">
  <!--Título-->
  <div class="titulo_seccion">
    <div class="titulo_cuadro">
      <img src="../../assets/componentes/cuadro_titulo.jpg" />
    </div>
    <div class="titulo_texto">ROL: <span>COMUNICACIONES</span></div>
    <div class="titulo_botones">
      <ul>
        <li>
          <a class="boton_confirmar">Confirmar</a>
        </li>
        <li>
          <a class="boton_cerrar">Cerrar</a>
        </li>
      </ul>
    </div>
  </div>
  <!--Encabezado Información-->
  <div class="nombretabla">
    <div class="nombretabla_texto">
      <label>ACCESOS</label>
    </div>
  </div>
  <!--Tabla-->
  <div class="table-container">
    <table class="scrollTableX">
      <thead>
        <tr>
          <th class="cPOPmenu_raiz">Menú Raíz</th>
          <th class="cPOPVPfecha_salida">Forma Web</th>
          <th class="ccheck">
            <input type="checkbox" id="box-thead">
            <label for="box-thead"></label>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label>CATÁLOGOS</label>
          </td>
          <td>
            <label>SISTEMA</label>
          </td>
          <td class="txt-center">
            <input type="checkbox" id="box-1-1" checked>
            <label for="box-1-1"></label>
          </td>
        </tr>
        <tr>
          <td>
            <label></label>
          </td>
          <td>
            <label>VEHICULOS</label>
          </td>
          <td class="txt-center">
            <input type="checkbox" id="box-1-2">
            <label for="box-1-2"></label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
